In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Read the TX input and output data from the corresponding compressed files.

In [2]:
inputs = pd.read_csv('./inputs_1-545.csv.xz', compression='xz')
outputs = pd.read_csv('./outputs_1-545.csv.xz', compression='xz')

In [4]:
inputs.head()

    timestamp  blockId    txId  address  amount  prevTxId  prevTxOffset
0  1286043759    83226  124052   118890      99    121412             1
1  1286048669    83232  124069   118890      99    121404             0
2  1292087817    97050  205875   157345      44    202325             0
3  1304444879   121655  466304   393175     100    465857             1
4  1304927240   122844  484748   439046       2    453984             0

In [5]:
outputs.head()

    timestamp  blockId    txId  address  amount  scriptType  offset
0  1285666089    82560  121385   118890      99           2       0
1  1285666089    82560  121386   118890      99           2       0
2  1285666864    82561  121403   118890      99           2       0
3  1285666864    82561  121404   118890      99           2       0
4  1285666864    82561  121405   118890      99           2       0