In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
seq = pd.read_csv('tree/stats_1-545_seq.csv')
seq.head()

   blockId  queryTime  blockCount  resultCount
0        1     101320           1            0
1        2       1818           1            0
2        3       1451           1            0
3        4       1377           1            0
4        5       1402           1            0

We compute the average query time (in milliseconds) over the 479969 total blocks.

In [16]:
print('Avg. sequential query time: {} ms'.format(seq.queryTime.mean() / 1e6))

Avg. sequential query time: 0.051713736268384 ms

In [16]:
capacities = [4, 8, 16, 32, 64, 128, 256]
pd.set_option("display.precision", 3)
result = pd.DataFrame(columns=('capacity', 'avgConstructionTime', 'avgQueryTime', 'avgVerificationTime', 'avgVOSize', 'avgResultSize'))
i = 0
for c in capacities:
    df = pd.read_csv('tree/stats_1-545_c={}.csv'.format(c))
    avgConst = df['constructionTime'].mean()
    avgQuery = df['queryTime'].mean()
    avgVerif = df['verificationTime'].mean()
    avgVO = df['voCount'].mean()
    avgResult = df['resultCount'].mean()
    result.loc[i] = [c, avgConst, avgQuery, avgVerif, avgVO, avgResult]
    i += 1
# Divide by 1e6 to convert nanoseconds to milliseconds.
result['avgConstructionTime'] /= 1e6
result['avgQueryTime'] /= 1e6
result['avgVerificationTime'] /= 1e6
# Round the decimal values to 3 decimal places.
result = result.round({'avgConstructionTime': 3, 'avgQueryTime':3, 'avgVerificationTime':3, 'avgVOSize':3, 'avgResultSize':3})
result = result.astype({'capacity': int})
result

,capacity,avgConstructionTime,avgQueryTime,avgVerificationTime,avgVOSize,avgResultSize
0,4,1.467,0.001,0.017,14.930,9.169
1,8,1.173,0.001,0.025,32.681,9.169
2,16,1.034,0.001,0.059,103.342,9.169
3,32,0.980,0.002,0.177,346.627,9.169
4,64,0.961,0.006,0.456,929.111,9.169
5,128,0.948,0.007,0.552,1148.751,9.169
6,256,0.942,0.007,0.553,1161.746,9.169

In [18]:
print(result.to_latex(index=False, escape=False))

\begin{tabular}{rrrrrr}
\toprule
 capacity &  avgConstructionTime &  avgQueryTime &  avgVerificationTime &  avgVOSize &  avgResultSize \\
\midrule
        4 &                1.467 &         0.001 &                0.017 &     14.930 &          9.169 \\
        8 &                1.173 &         0.001 &                0.025 &     32.681 &          9.169 \\
       16 &                1.034 &         0.001 &                0.059 &    103.342 &          9.169 \\
       32 &                0.980 &         0.002 &                0.177 &    346.627 &          9.169 \\
       64 &                0.961 &         0.006 &                0.456 &    929.111 &          9.169 \\
      128 &                0.948 &         0.007 &                0.552 &   1148.751 &          9.169 \\
      256 &                0.942 &         0.007 &                0.553 &   1161.746 &          9.169 \\
\bottomrule
\end{tabular}

/var/folders/gm/grbx3p550ps44z3jf7l2r4700000gn/T/ipykernel_93721/3886015941.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(result.to_latex(index=False, escape=False))